<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">FindFolks</a>
        </li>
        {% if not logged_in %}
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
        {% endif %}
        {% if logged_in %}
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/view_my_events">View My Upcoming Events</a>
            </li>
            <li>
                <a href="/find_people">Follow Users</a>
            </li>
            <li>
                <a href="/unfollow">Unfollow Users</a>
            </li>
            <li>
                <a href="/view_followed">View Followed</a>
            </li>
            <li>
                <a href="/remove_account">Remove Account</a>
            </li>
        {% endif %}
    </ul>
</div>
<!-- /#sidebar-wrapper -->