<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">FindFolks</a>
        </li>
        {% if not logged_in %}
            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
        {% endif %}
        {% if logged_in %}
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/friends">Friends</a>
            </li>
            <li>
                <a href="/view_my_events">View My Upcoming Events</a>
            </li>
            <li>
                <a href="/view_all_events">View All Events</a>
            </li>
            <li>
                <a href="/view_event_ratings">View Event Ratings</a>
            </li>
            <li>
                <a href="/create_group">Create A Group</a>
            </li>
            <li>
                <a href="/interests">View/Add Interests</a>
            </li>
            <li>
                <a href="/event_interests">View Events With Similar Interests</a>
            </li>
            <li>
                <a href="/friends_events">View Friends Events</a>
            </li>
            <li>
                <a href="/view_join_group">View/Join Groups</a>
            </li>
            <li>
                <a href="/authorized">View/Authorize/Deauthorize Users</a>
            </li>
            <li>
            <li>
                <a href="/event_signup">Sign Up For An Event</a>
            </li>
            <li>
                <a href="/create_event">Create An Event</a>
            </li>
            <li>
                <a href="/event_rating">Rate An Event</a>
            </li>
            <li>
                <a href="/remove_account">Remove Account</a>
            </li>
        {% endif %}
    </ul>
</div>
<!-- /#sidebar-wrapper -->