<!DOCTYPE html>
<html>

<head>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">

	{% include '_sidebar.html' %}

	<!-- Make sure to keep all page content within the #page-content-wrapper div. -->
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					{% if success %}
						<p class="error"><strong>Success:</strong> {{ success }}</p>
					{% endif %}
					<h1>Create Event</h1>
					<h2>Enter the following details in order to create an event.</h2>
					<form action="/makeEvent" method="POST">
						<input type="number" name="group_id" placeholder="Group ID" required/> </br>
						<input type="text" name="title" placeholder="Title" required/> </br>
						<input type="text" name="description" placeholder="Description" required/> </br>
						<input type="datetime-local" name="start_time" placeholder="Start Time" required/> </br>
						<input type="datetime-local" name="end_time" placeholder="End Time" required/> </br>
						<input type="text" name="location_name" placeholder="Location Name" required/> </br>
						<input type="number" name="zipcode" placeholder="Zipcode" required/> </br>
						<input type="submit" value="Create"/>
					</form>
					{% if error %}
						<p class="error"><strong>Error:</strong> {{ error }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>

</html>
