<!DOCTYPE html>
<html>

<head>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">

    {% include '_sidebar.html' %}

    <!-- Make sure to keep all page content within the #page-content-wrapper div. -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if success %}
                    <p class="error"><strong>Success:</strong> {{ success }}</p>
                    {% endif %}
                    <h1>Welcome to FindFolks!</h1>
                    <p>FindFolks is a place where you can find other people just like you, join groups with similar interests, and even RSVP for events.
                    </br></p> </br>
                    <h4>Below are all of the upcoming events in the next three days!</h4> </br>
                    <style type="text/css">
                        table, th, td {
                            border: 1px solid black;
                        }
                    </style>
                    <table>
                    <th>Event ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Location Name</th>
                    <th>Zipcode</th>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.event_id }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.start_time }}</td>
                            <td>{{ event.end_time }}</td>
                            <td>{{ event.location_name }}</td>
                            <td>{{ event.zipcode }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <h3>Filter Groups By Interest</h3>
                    <form name="filter_groups" method="POST">
                        Interests:
                        <select name="select_interest">
                            {% for interest in interests %}
                                <option value="{{ interest.category }}, {{ interest.keyword }}">
                                    {{ interest.category }}, {{ interest.keyword }}
                                </option>
                            {% endfor %}
                        </select> </br>
                        <input type="submit" value="Filter"/>
                    </form>
                    </br>
                    <table>
                        <th>Group Name</th>
                        <th>Description</th>
                        {% for group in groups %}
                            <tr>
                                <td>{{ group.group_name }}</td>
                                <td>{{ group.description }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if not logged_in %}
                        </br>Create an account today to start and Find Folks!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>

</html>
