<!DOCTYPE html>
<html>

<head>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">

	{% include '_sidebar.html' %}

	<!-- Make sure to keep all page content within the #page-content-wrapper div. -->
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1>Below are the average ratings of events from the last three days which you are a group member of!</h1>
					</br>
					<style type="text/css">
						table, th, td {
							border: 1px solid black;
						}
					</style>
					<table>
					<th>Event ID</th>
					<th>Title</th>
					<th>Rating</th>
					{% for event in events %}
						<tr>
							<td>{{ event.event_id }}</td>
							<td>{{ event.title }}</td>
							<td>{{ event.rating }}</td>
						</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>

</html>
